<!doctype html>
<html ng-app="plapok">
<head>
    <meta charset="UTF-8">
    <title>Plapok</title>
    <link rel="stylesheet" href="index.css"/>
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Glegoo' rel='stylesheet' type='text/css'>
    <script src="/socket.io/socket.io.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="index.js"></script>
</head>
<body ng-controller="IndexCtrl">
<h1>plapok</h1>
<input type="text"
       placeholder="Room"
       ng-model="myRoom"
       ng-disabled="!isConnected()" />
<button ng-click="join()">Join</button>
<button ng-click="leave()">Leave</button>
<br>
<input type="text"
       placeholder="Name"
       ng-model="myName"
       ng-disabled="!isConnected()" />
<button ng-click="rename()">Rename</button>
<small class="socket-id">{{id}}</small>
<i ng-show="connected" class="fa fa-chain"></i>
<i ng-hide="connected" class="fa fa-chain-broken"></i>
<small class="socket-status">{{status}}</small>
<table class="people">
    <tr ng-repeat="voter in room.members">
        <td>{{voter.name}}</td>
        <td>{{voter.vote}}</td>
    </tr>
    </tbody>
</table>
<label>
    <input ng-model="isActive" type="checkbox" />
    Active
</label>
<button ng-disabled="!isActive"
        ng-click="startVoting()">Vote</button>
<div class=""
     ng-show="amVoting">
    <button class="card"
            ng-repeat="choice in choices"
            ng-click="submitVote(choice)">{{choice}}</button>
</div>
</body>
</html>