.unselectable,
body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectable,
input[type=text],
.socket-id {
  -moz-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
body {
  background-color: #ffea6f;
  color: #3d3d35;
  font-size: 3vmin;
  font-family: 'Glegoo', serif;
}
label {
  cursor: pointer;
}
button {
  background-color: #3d3d35;
  color: #ffea6f;
  font-size: inherit;
  font-family: inherit;
  border: none;
  cursor: pointer;
  padding: 0.5em 0.6em;
}
button[disabled] {
  background-color: #919180;
  cursor: not-allowed;
}
button:hovernot:not([disabled]) {
  background-color: #67675a;
}
input[type=text] {
  background-color: rgba(61,61,53,0.1);
  color: inherit;
  font-size: inherit;
  border: none;
  cursor: pointer;
  padding: 0.5em 0.6em;
  font-family: inherit;
}
input[type=text]:hover {
  background-color: rgba(61,61,53,0.2);
}
.votes {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.socket-id {
  opacity: 0.6;
  font-size: smaller;
  display: block;
}
