<!doctype html>
<html ng-app="plapok">
<head>
    <meta charset="UTF-8">
    <title>Plapok</title>
    <link rel="stylesheet" href="index.css"/>
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Glegoo' rel='stylesheet' type='text/css'>
    <script src="/socket.io/socket.io.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="index.js"></script>
</head>
<body ng-controller="IndexCtrl">
<h1>plapok</h1>
<input type="text" placeholder="Name" ng-model="myName" ng-change="rename()"/>
<small>{{id}}</small>
<table class="people">
    <tr ng-repeat="voter in voters">
        <td>{{voter}}</td>
        <td>{{votes[voter]}}</td>
    </tr>
    </tbody>
</table>
<button ng-click="startVoting()">Vote</button>
<div class=""
     ng-show="amVoting">
    <button class="card"
            ng-repeat="choice in choices"
            ng-click="submitVote(choice)">{{choice}}</button>
</div>
</body>
</html>