color1 = #ffea6f
color2 = #3d3d35

card-bg = darken(color1, 30%)

.unselectable
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

.selectable
  -moz-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all;

body
  background-color color1
  color color2
  font-size 3vmin
  font-family 'Glegoo', serif;
  @extend .unselectable;

label
  cursor pointer

button
  background-color color2
  color color1
  font-size inherit
  font-family inherit
  border none
  cursor pointer
  padding 0.5em 0.6em

  &[disabled]
    background-color lighten(color2, 40%)
    cursor not-allowed

  &:hovernot:not([disabled])
    background-color lighten(color2, 20%)

input[type=text]
  background-color alpha(color2, 0.1)
  color inherit
  font-size inherit
  border none
  cursor pointer
  padding 0.5em 0.6em
  font-family inherit
  @extend .selectable

  &:hover
    background-color alpha(color2, 0.2)

.votes
  position fixed
  top 0
  left 0
  right 0
  bottom 0

.socket-id
  opacity 0.6
  font-size smaller
  display block
  @extend .selectable